* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 100px 200px;
    /* background-image: url("skyu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

}

h1 {
    text-align: center;
    color: royalblue;
    padding-bottom: 20px;
    text-decoration:underline;
}

form {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: solid 2px black; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px blue;
 
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid blue;


}

input:focus {
    border: none;
    border-bottom: 2px solid royalblue;
    outline: none;
}

button {
    /* margin-left: auto;
    margin-right: auto; */
    font-weight: bolder;
    padding: 6px 5px;
    color: aliceblue;
    border-radius: 10px;
    background-color: royalblue;
    border: 2px solid royalblue;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: royalblue;
    background-color: aliceblue;
    border: 2px solid royalblue;
}

/* button:active{
    font-weight: bolder;
    padding: 6px 5px;
    color: aliceblue;
    border-radius: 10px;
    background-color: royalblue;
    border: 2px solid royalblue;
} */

.resultbox {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: solid 2px black; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.text {
    font-size: 20px;
    font-weight: bolder;
}

.place {
    font-size: 20px;
    font-weight: bolder;

}

.temp {
    font-size: 20px;
    font-weight: bolder;

}

label {
    color: royalblue;
    font-weight: bolder;
}

#result{
    /* background-color: aqua; */
}
